<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--添加 处理映射器-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!--添加 处理器适配器-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!--视图解析器:DispatcherServlet给他的ModelAndView
    1. 获取了model的数据
    2. 解析view的视图名字
    3. 拼接视图名字，找到对应的视图
    4. 将数据渲染到视图上-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="InternalResourceViewResolver">
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
        <!--重定向的时候路径上前后统一的部分提取，这样只用写文件名
        req.getRequestDispatcher("/WEB-INF/jsp/test.jsp").forward(req,resp);-->
    </bean>


    <!--将自己的类交给SpringIOC容器，注册bean：Handler-->
    <bean id="/hello" class="com.yang.controller.HelloController"/>
</beans>